@charset "utf-8";
@font-face {
	font-family: 'OpenSans';
	src: local('?'), url('../fonts/OpenSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gabriola';
	src: local('?'), url('../fonts/Gabriola.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSansBold';
	src: local('?'), url('../fonts/OpenSans-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansPro';
	src: local('?'), url('../fonts/SourceSansPro-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'SourceSansProBold';
	src: local('?'), url('../fonts/SourceSansPro-Bold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: local('?'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: local('?'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'segoeprb';
	src: local('?'), url('../fonts/segoeprb.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'segoepr';
	src: local('?'), url('../fonts/segoepr.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body{ font-family: 'OpenSans'; background:#f2f2f2; margin-top: 0;}

h1, h1 {
	font-size:17pt;
	line-height: 27px; 
	font-family:'SourceSansPro';
}
h2, h2 {
	font-size:15pt;
	line-height: 27px; 
	margin-top:0;
}
h3, h3 {
	font-size:15pt;
	line-height: 27px;}
h4, h4 {
	font-size: 1.4em;
	font-family:'OpenSansBold';
}
h5, h5 {
	font-size: 10pt;
	font-family: 'SourceSansPro';
}
p, p {
	font-size: 11.5pt; color:#6A6A6B;
}
li {
	list-style: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a6a6a6;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a6a6a6;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a6a6a6;
}
:-moz-placeholder { /* Firefox 18- */
  color: #a6a6a6;
}

#ui-datepicker-div { z-index: 999 !important;}

section p{ font-family:'OpenSans'; margin-bottom:0; }
a:hover{ text-decoration:none;}
span.required, .error{color:#ff0000;}
span.required{font-size:10px;}
.error{font-size:12px;}

.text-white{color:#fff;}
.padding-left-zero{padding-left:0;}
.padding-right-zero{padding-right:0;}
.padding-left-right-zero{padding-left:0; padding-right:0;}


.emergencyNo{font-size:11px; font-family:'OpenSans';}
.emergencyNo span{font-size:15px; font-family:'OpenSansBold';}

.headTop{padding-top:16px; padding-bottom:7px; 
/*-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);*/
}
.pageinheader{background:#333; height:106px; width:100%;}
.pageinheader div.div-table{display:table; height:100%;}

.topmenu{width:66.66666667%; padding-top:10px;}
a.bookBtn{background:#ff2400; transition: background-color 0.6s ease-out; color:#fff; padding:6px 25px 7px 25px; border-radius:30px; margin-right:20px;}
a.bookBtn:hover{background:#2c96ed; transition: background-color 0.6s ease-in; text-decoration:none;}

.social-icons ul{margin:0; padding:3px 0 0 10px;}
.social-icons li{float:left;}
.social-icons li a{height:14px; width:20px; display:block; color:#fff;}
.social-icons li a.fb-icon:hover{color:#3b5998;}
.social-icons li a.twitter-icon:hover{color:#00bdec;}
.social-icons li a.gplus-icon:hover{color:#dd4d4d;}
.social-icons li a.linkedin-icon:hover{color:#1b92bd;}

.navbar-toggle{position:absolute; z-index:99; right:0px; top:120px; margin:0; padding: 9px 10px 9px 10px; 
animation-name:slidein;
animation-duration:.5s;
animation-direction:alternate;
}
@keyframes slidein
{
	0%{margin:0px; transform:translate(45px,0px);}
	100%{margin:0px; transform:translate(-20px,0px);}
}
.navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: #ff6a05; cursor:pointer;}
.navbar-toggle .icon-bar, .navbar-default .navbar-toggle .icon-bar {background-color: #fff; cursor:pointer;}



.menu-right{margin-top:10px;}
.menu-right ul{float:right;}
.navigation a{color:#fff; font-family: 'SourceSansPro'; }

.navigation>li>a {
    padding: 10px 0;
	margin:10px 0 0 20px;
	font-size:16px;
}

.navBg{background:none; border-bottom:0; min-height:auto; margin-bottom:0;}
.navBg .navbar-nav>.active>a,  .navBg .navbar-nav>.active>a:focus{background:none; color:#ff891e;}
.navBg .navbar-nav>.open>a, .navBg .navbar-nav>.open>a:focus, .navBg .navbar-nav>.open>a:hover {
    color: #ff891e;
    background-color: transparent;
}

.navBg .navbar-nav>li>a{color:#fff; transition: color 0.2s ease-out;}
.navBg .navbar-nav>li>a:hover{color:#ff891e!important; transition: color 0.2s ease-in; background:none!important; 
/*border-bottom:solid 1px #fff; transition: border-bottom 0.6s ease-in;*/
}
.navBg .navbar-nav>li>a{padding-top:5px; padding-bottom:7px; }
.navBg .dropdown-menu>li>a{font:10pt 'OpenSans-Regular',Arial, Helvetica, sans-serif;}
.navBg .dropdown-menu>li>a i{color:#ff6d10;}
.navBg .navbar-nav>li>.dropdown-menu{border-bottom-left-radius:0; border-bottom-right-radius:0; border-bottom:solid 4px #41a9ff;
    opacity: 0;
  -prefixes-transition-property: opacity, visibility;
  -prefixes-transition-duration: .4s, 0s;
  -prefixes-transition-delay: 0s, .4s;
}
.navBg .dropdown-menu:after {
	bottom: 100%;
	left: 40px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

.dropdown-menu > li.kopie > a { padding-left:5px;}
.dropdown-submenu { position:relative; }
.dropdown-submenu>.dropdown-menu {top:0;left:100%; margin-top:-6px;margin-left:-1px; -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu > a:after {border-color: transparent transparent transparent #333; border-style: solid; border-width: 5px 0 5px 5px; content: " "; display: block; float: right; height: 0; margin-right: -10px; margin-top: 5px; width: 0;} 
.dropdown-submenu:hover>a:after {border-left-color:#555;}
.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {text-decoration: none;} 

/*###################*/
/*## CSS for Slides ##*/
/*%%%%%%%%%%%%%%%%%%%*/
/* fade slider */
.homeslider{position:absolute;}
.slides {
    height:900px;
   /* margin:50px auto;*/
    overflow:hidden;
    position:relative;
    width:100%;
	
}
.slides ul {
    list-style:none;
    position:relative;
	padding:0;
	position:fixed;
}
 
/* keyframes #anim_slides */

@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
 
.slides ul li {
    opacity:0;
    position:absolute;
	top:0;
 	width:100%;
    /* css3 animation */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}
 
/* css3 delays */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slides ul li img {
    display:block;
	width: 100%;
    position: fixed;
}
/* keyframes #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
 
.slides ul li div {
    background-color: rgb( 255,255,255,0.7);
    color:#FFFFFF;
    font-size:26px;
    left:0;
    margin:0 auto;
    padding:20px;
    position:absolute;
    bottom:5px;
    width:200px;
  width: 100%;
}

.quotation{color:#fff; font-size:60px; font-family:'Gabriola'; text-align:center; position:relative; line-height:50px; padding-top:150px; margin-bottom:150px;}
.quotation span{font-size:45px;}
.midPortion{background:#f2f2f2; position:relative; padding-bottom:20px;}
.feturesBlock{margin-top:-135px;}
.partners-bg{padding-top:135px;}
.partner-logo{padding:5px; background:#fff;}
.featureBox{background:#fff; padding:10px 0; font-size:18px;
-webkit-box-shadow: 0px 2px 5px 0px rgba(209,213,220,1);
-moz-box-shadow: 0px 2px 5px 0px rgba(209,213,220,1);
box-shadow: 0px 2px 5px 0px rgba(209,213,220,1);
}
.welcomTxt{padding:50px 0 20px 0; width:80%; margin:0 auto;}
.welcomTxt h1{font-size:5em; line-height:70px; font-family:'Gabriola';}
.welcomTxt p{font-size:1.2em; line-height:30px;}

.highlightRooms{padding-bottom:30px;}
.highlightRooms h2{padding:30px 0 30px 0; font-size:1.9em; font-family: 'OpenSansBold'; border-bottom:solid 1px #c7c9cf; width:80%; margin:0 auto; position:relative;}

.recRotate{
	width:16px; height:16px; background:red; padding:3px; position:absolute; left:50%; bottom:-8px;
	-ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}
	
.recRotateIn{
	width:100%; height:100%; background:#f2f2f2;
	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}
.roomsSliderBox{margin-top:50px;}
.bottom-slider .owl-controls{position: absolute; bottom: 40%; width:100%;}
.bottom-slider .owl-controls .owl-nav [class*=owl-]{background:#000!important; margin:0 15px!important; -moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px!important; width: 30px;
	height: 30px; display:block!important;}
.bottom-slider .owl-controls .owl-nav [class*=owl-]:hover{background:#ff891e!important;}
.roomsTitle{background:#302107; padding:10px 15px; border-top:solid 1px #fff;}
.roomsTitle, .roomsTitle a{color:#fff;}
.roomsTitle a:hover{color:#fff; text-decoration:underline;}
.roomsTitle i{font-size:16px; padding-left:5px;}

.testimonial-slider .owl-nav{display:none!important;}

.extraInfo{background:#fff; position:relative; padding:30px 0;}
.extraInfo h2{font-size:1.5em; font-family: 'OpenSansBold'; padding-left:15px;}
.latestnews{margin-bottom:20px;}
.news-img{height:80px; overflow:hidden;}
.news-title{font-weight:bold;}
.news-title div{border-bottom:solid 1px #f2f2f2; color:#010101; padding-bottom:5px; margin-bottom:5px;}
.news-title p{font-size:.8em; font-weight:normal;}

.exploreBtn{margin-top:10px;}

.partners-bg2{padding:50px 0 50px 0;
background: rgba(161,8,199,1);
background: -moz-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,8,199,0.75)), color-stop(100%, rgba(0,45,113,0.75)));
background: -webkit-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: -o-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: -ms-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: linear-gradient(to right, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a108c7', endColorstr='#002d71', GradientType=1 );
}
.partner-head2{width:483px; margin:0 auto; padding:0 0 20px 0;}
.partners-bg2 .title{font:2em 'OpenSans'; color:#fff; text-align:center; padding-left:30px; padding-right:30px;}
.double-border2{width:60px; border-bottom:double 4px #fff; height:22px;}
.partners-bg2 .title span{font-size:0.8em;}

.getintouch{background:#fff; padding:40px 0;}
.getintouch .partner-head2{width:371px; margin:0 auto; padding:0 0 20px 0;}
.getintouch .title{font:2em 'OpenSans'; text-align:center; padding-left:30px; padding-right:30px;}
.getintouch .double-border2{width:60px; border-bottom:double 4px #000; height:22px;}
.getintouch .title span{font-size:0.8em;}

.visitorName{font:2.2em 'Gabriola'; color:#fff;}

/* Testimonial Slider CSS */

.testimonial{
    text-align: center;
}
.testimonial .pic{
    margin-bottom: 35px;
	width:100px;
	margin:0 auto;
}

.testimonial .pic2{
    margin-bottom: 35px;
	margin:0 auto;
	overflow:hidden;
	height:275px;
	position:relative;
}

.testimonial .pic div{color:#fff; font-size:20px; padding:5px 0 10px 0;}
.testimonial-description{color:#fff; font:1.6em 'Gabriola';}
.testimonial .pic > img{
    border-radius: 50%;
	border: solid 3px #fff;
}
.testimonial .testimonial-review{
    color:#fff;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 14px;
}

.testimonial-review2 > .testimonial-description2{
    font-style: normal; padding-top:10px;
}
.testimonial .testimonial-title{
    color:#fff;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
}
.testimonial-title > small{
    color:#fff;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}
.testimonial-slider .owl-dots .owl-dot span{
    width: 9px!important;
    height: 9px!important;
    background: transparent!important;
    border: 1px solid #fff!important;
    margin: 5px!important;
}
 
.testimonial-slider .owl-controls .owl-dot.active span,
.testimonial-slider .owl-controls.clickable .owl-dot:hover span{
    background: #fff!important;
}

.social-icons [class*=ico-]{display:inline-block; width:30px; height:30px; overflow:hidden;}
.social-icons [class*=ico-] a{display:block; width:30px; text-align:center; color:#fff}

.social-icons [class*=ico-] a{
	margin-top:0;
	animation-name:flipin;
	animation-duration:.5s;
	animation-direction:alternate;
}
.social-icons [class*=ico-] a:hover{
	margin-top:-30px;
	animation-name:flipout;
	animation-duration:.5s;
	animation-direction:alternate;
}
.social-icons [class*=ico-] a p{font-size:inherit; margin:0; color:inherit; padding:5px 0;}
.social-icons [class*=ico-] a p.anch1{background:#333333;}
.social-icons [class*=ico-] a p.anch2{background:#3b5998;}
.social-icons [class*=ico-] a p.anch3{background:#00bdec;}
.social-icons [class*=ico-] a p.anch4{background:#c4302b;}
.social-icons [class*=ico-] a p.anch5{background:#b8242a;}
.social-icons [class*=ico-] a p.anch6{background:#dd4d4d;}
.social-icons [class*=ico-] a p.anch7{background:#1b92bd;}


@keyframes flipin
{
	0%{margin:0px; transform:translate(0px,-30px);}
	100%{margin:0px; transform:translate(0px,0px);}
}
@keyframes flipout
{
	0%{margin:0px; transform:translate(0px,0px);}
	100%{margin:0px; transform:translate(0px,-30px);}
}

/*########################*/

.footer-bg{background:#070e30; padding:15px 0; font-size:12px; line-height:25px;}
.suncrosTxt{color:#b7b7b7;}
.suncrosTxt span{color:#fff;}

.searchRooms{opacity:0; position:absolute; background:rgba(46, 119 , 110, 0.8); color:#fff; padding:20px 0 30px 0; text-align:center; left:10%; top:35%; z-index:100; width:80%; margin:0 auto; border-radius:5px;}

.searchTitle{font-size:1.8em;}
.searchFields{width:60%; margin:0 auto; padding-top:20px;}
.closeBtn{width:30px; height:30px; font-size:20px; padding:0; border-radius:30px; background:#000; right:-10px; top:-10px;  position:absolute;}
.bookBtn:hover, .closeBtn:hover{background:#F90; cursor:pointer;}

.page-content{background:#fff; margin:20px auto; padding:20px 0;}
.room-row{margin-bottom:5px; border-bottom:solid 1px #c7c9cf;}

/*Select Drop Down*/
.multiselect-container{position:absolute;list-style-type:none;margin:0;padding:0; min-width:auto!important;}
.multiselect-container .input-group{margin:5px}
.multiselect-container>li{padding:0}
.multiselect-container>li>a.multiselect-all label{font-weight:bold}
.multiselect-container>li>label.multiselect-group{margin:0;padding:3px 20px 3px 10px;height:100%;font-weight:bold;}
.multiselect-container>li>a>label{margin:0;height:100%;cursor:pointer;font-weight:normal}
.multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0;}
.multiselect-container>li>a>label>input[type="checkbox"]{margin-bottom:5px}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn{border-top-left-radius:4px;border-bottom-left-radius:4px}
.ddbtn .btn {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 3px;
	font-weight:bold;
	font-family:'OpenSans';
	
}
.rooms .btn {
    padding: 5px 10px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 3px;
	font-weight:bold;
	font-family:'OpenSans';
	background:#f5a623;
	color:#fff;
}
.extraItems .btn{
	padding: 5px 10px;
    font-size: 13px;
    line-height: 1.33;
    border-radius: 3px;
	font-weight:bold;
	font-family:'OpenSans';
	background:#d84e55;
	color:#fff;
}
.extraItems .dropdown-menu>li>a:hover{background:#fff; color:#262626}
.extraItems .dropdown-menu>.active>a{background:#333333; color:#fff}
.extraItems .multiselect-container>li>a>label.radio,.multiselect-container>li>a>label.checkbox{margin:0; margin-left: 5px;}

.ddbtn .dropdown-menu>.active>a, .rooms .dropdown-menu>.active>a{
	background:#333333;	
}
.roomTypeList td{vertical-align:middle!important;}
.calculationBox{padding:20px 15px; margin-top:30px; border-radius:3px;}
.calculationBox h5{font-size:18px;}
.Totalprice{font-size:20px; color:#DD2024; padding-bottom:10px; font-weight:bold;}
.searchFrm{margin-top:30px;}

.checkout-tab{background:#fff; margin:20px auto; padding:20px;}
.reservation-info{padding:15px; background:#F2F2F2; border-radius:3px;}
.contact-info{margin-top:30px;}

.innerPageTxt{background:#fff; padding:20px 0;}

.innerPageTxt h1{ font-size: 3em; font-family: 'Gabriola';}
.innerPageTxt p{ font-size: 1.2em; line-height: 30px;}

.partners-bg3, .partners-bg4{padding:50px 0 50px 0; position:relative;
background: rgba(161,8,199,1);
background: -moz-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(161,8,199,0.75)), color-stop(100%, rgba(0,45,113,0.75)));
background: -webkit-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: -o-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: -ms-linear-gradient(left, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
background: linear-gradient(to right, rgba(161,8,199,0.75) 0%, rgba(0,45,113,0.75) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a108c7', endColorstr='#002d71', GradientType=1 );
}
.partner-head3{width:577px; margin:0 auto; padding:0 0 20px 0;}
.partners-bg3 .title{font:2em 'OpenSans'; color:#fff; text-align:center; padding-left:30px; padding-right:30px;}
.double-border3{width:60px; border-bottom:double 4px #fff; height:22px;}
.partners-bg3 .title span{font-size:0.8em;}
.msgBlk{background:#fff; padding-top:15px; padding-bottom:15px;}
.msgBlk h3 span{font-size:17px; color:orange;}

.partner-head4{width:390px; margin:0 auto; padding:0 0 20px 0;}
.partners-bg4 .title{font:2em 'OpenSans'; color:#fff; text-align:center; padding-left:30px; padding-right:30px;}
.double-border4{width:60px; border-bottom:double 4px #fff; height:22px;}
.partners-bg4 .title span{font-size:0.8em;}
.msgBlk{background:#fff; padding-top:15px; padding-bottom:15px;}
.msgBlk h3 span{font-size:17px; color:orange;}

.room-gallery [class*=col-sm-]{margin-bottom:20px;}
.room-gallery .thumbnail{height:auto!important; border-radius: 0px; border:0; margin-bottom:0;}

thumbnail .image {
  height: 120px;
  overflow: hidden;
}
.caption {
  padding: 9px 5px;
  background: #F7F7F7;
}
.caption p {
  margin-bottom: 5px;
}
.thumbnail {
  height: 190px;
  overflow: hidden;
}
.view {
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
}
.view .mask, .view .content {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 0;
  left: 0
}
.view img {
  display: block;
  position: relative
}
.view .tools {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 3px;
  background: rgba(0, 0, 0, 0.35);
  margin: 43px 0 0 0;
}
.mask.no-caption .tools {
  margin: 45px 0 0 0;
}
.view .tools a {
  display: inline-block;
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  padding: 0 4px;
}
.view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center
}
.view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0 0 1px #000
}
.view-first img {
  transition: all 0.2s linear;
}
.view-first .mask {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-in-out;
  height:120px;
}
.view-first .tools {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
.view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
.view-first:hover img {
  transform: scale(1.1);
}
.view-first:hover .mask {
  opacity: 1;
}
.view-first:hover .tools, .view-first:hover p {
  opacity: 1;
  transform: translateY(0px);
}
.view-first:hover p {
  transition-delay: 0.1s;
}

/* *********  /media gallery  **************************** */

#tab1{display:none;}

.roomInfo{display:none; background:#f7f7f9;}
.roomBg{background:#fff; color:#333; padding:8px 10px; border-radius:3px; margin-bottom:5px; font-size:16px;}
.dates{margin:20px 0;}
.nightsBlk{padding:15px 0 15px 15px;}
.amtRow{padding-bottom:5px;}
.grandTotalBlk{border-top:solid 1px #CCCCCC; border-bottom:solid 1px #CCCCCC; margin-top:5px; padding:5px 0;}
.grandTotal{font-size:18px; font-weight:bold; color:#c9302c;}
.termsBlk{border-top:solid 1px #F2F2F2; margin-top:50px; padding-top:10px;}
.termsBlk h5{font-size:18px;}
.termsBlk p, .termsBlk ul{padding-bottom:20px;}
.termsBlk ul li{list-style:decimal;}
.compltBtn{padding:15px 0;}
#backBtn{display:none;}

@media (min-width: 768px) {
	
  .navBg ul.nav li:hover > ul.dropdown-menu {
	  display:block;
	  opacity: 1;
  }
  
  #navbar {
    text-align: center;
  }
}
@media(min-width:1441px){
	
}

@media(min-width:1700px){

}

@media(max-width:1600px){

}

@media(max-width:1440px){

}

@media(max-width:1367px){

}

@media(max-width:1280px){

}

@media only screen and (min-width:992px) and (max-width:1025px) {

}

@media only screen and (min-width:824px) and (max-width:991px) {

}

@media only screen and (min-width:768px) and (max-width:823px) {
	
	
}

@media only screen and (min-width:500px) and (max-width:767px){
	
}

@media only screen and (min-width:321px) and (max-width:499px) {
	
	.partner-head2{width:331px;}
	.getintouch .partner-head2{width:331px; margin:0 auto; padding:0 0 20px 0;}
	.getintouch .double-border2{width:40px; border-bottom:double 4px #000; height:22px;}
	
	.topmenu{position:fixed; z-index:99; background:rgba(0, 0, 0, 0.7)}
	.quotation{padding-top:15px; margin-bottom:15px; line-height:none; font-size: 40px;}
	.feturesBlock{padding-top:30px;}
	.feturesBlock [class*=col-sm-]{margin-bottom:20px; }
	.featureBox{font-size:16px;}
	.roomsSliderBox [class*=col-sm-]{margin-bottom:20px; }
	.aboutmangatta{margin-bottom:40px;}
	.padding-right-zero-xs{padding-right:15px;}
	
	.menu-right ul{float:none; margin-bottom:20px; height:300px; overflow:auto;}
	.menu-right ul ul{height:auto;}
	.navBg .navbar-nav>li>a:hover{border-bottom:none;}
	.navBg .navbar-nav>li>.dropdown-menu {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: solid 4px #41a9ff;
		opacity: 1;
		-prefixes-transition-property: opacity, visibility;
		-prefixes-transition-duration: .4s, 0s;
		-prefixes-transition-delay: 0s, .4s;
	}
	.navBg .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.navBg .dropdown-menu:after {
		display:none;
	}
	
	.social-icons{height:20px;}
	.social-icons, .emergencyNo{padding:0 0 10px 0;}
	.social-icons, .emergencyNo, .booknowBtn{float:none!important; text-align:center;}
	.navBg .navbar-collapse{border-color: #f5915d; border-width:2px;}
	.social-icons li {float: none; display:inline-block;}
	a.bookBtn {	margin-right: 0;}
	.topimpinfo{padding-bottom:10px;}
	.searchRooms{top:25%; background:rgba(46, 119 , 110, 1);}
	.searchTitle{font-size:1.2em;}
	.searchFields{width:100%; margin:0 auto; padding-top:20px;}
	.text-center-xs{text-align:center; padding-top:15px;}
}

@media(max-width:320px){
	
	partner-head2{width:331px;}
	.getintouch .partner-head2{width:331px; margin:0 auto; padding:0 0 20px 0;}
	.getintouch .double-border2{width:40px; border-bottom:double 4px #000; height:22px;}
	
	.topmenu{position:absolute;}
	.quotation{padding-top:15px; margin-bottom:15px; line-height:none; font-size: 40px;}
	.feturesBlock{padding-top:30px;}
	.feturesBlock [class*=col-sm-]{margin-bottom:20px; }
	.featureBox{font-size:16px;}
	.roomsSliderBox [class*=col-sm-]{margin-bottom:20px; }
	.aboutmangatta{margin-bottom:40px;}
	.padding-right-zero-xs{padding-right:15px;}
	
	.menu-right ul{float:none;}
	.navBg .navbar-nav>li>.dropdown-menu {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: solid 4px #41a9ff;
		opacity: 1;
		-prefixes-transition-property: opacity, visibility;
		-prefixes-transition-duration: .4s, 0s;
		-prefixes-transition-delay: 0s, .4s;
	}
	.navBg .navbar-nav .open .dropdown-menu>li>a {
		color: #fff;
	}
	.social-icons{height:20px;}
	.social-icons, .emergencyNo{padding:0 0 10px 0;}
	.social-icons, .emergencyNo, .booknowBtn{float:none!important; text-align:center;}
	.navBg .navbar-collapse{border-color: #f5915d; border-width:2px;}
	.social-icons li {float: none;}
	a.bookBtn {	margin-right: 0;}
	.topimpinfo{padding-bottom:10px;}
	
}
